html {
  height: 100%;
}
body {
  background-color: #282828;
  margin: auto;
  color: white;
  height: 100%;
}

button {
  color: white;
  background-color: #3500D3;
  border-color: #3500D3;
  border-radius: 4px;
}

main {
  display: flex;
  height: 85%;
  flex-direction: row;
}

#inputs {
  display: flex;
  background-color: #1b142e;
  height: 10%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px solid black;
}

#description {
  height: 20%;
  text-align: center;
  padding-top: 1%;
  background-color: #1b142e;
}

#description p {
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

#left-img {
  width: 30%;
  height: 100%;
  border-right: 5px solid black;
  border-left: 5px solid black;
}

#right {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border-right: 5px solid black;
}

footer {
  text-align: center;
  font-size: 0.75vw;
  padding-bottom: 1%;
  height: 5%;
}

header {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

header, footer {
  color: white;
  background-color: #190062/*#0c0032*/;
  border: 5px solid black;
}

#outputs {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#songs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: row;
}

.song {
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  width: 50px;
}
